div.container {
    position: relative;
    width: 200px;
}

div.css3 {
    position: relative;
    width: 200px;
    height: 0;
    border-right: 20px solid transparent;
    border-left: 20px solid transparent;
    border-top: 200px solid #264de4;
}

div.css3::after {
    content: "";
    width: 0;
     height: 0; 
     border-right: 100px solid transparent;
     border-left: 100px solid transparent;
     border-top: 45px solid #264de4; 
     position: absolute;
}

/* Content Interno */
span.background {
    position: absolute;
    width: 67px;
    height: 0;
    top: 15px;
    right: -21px;
    border-top: 170px solid #2965f1;
    border-right: 20px solid transparent;
    border-left: 20px solid #2965f1;
    border-right: 14px solid transparent;
}

span.background::before {
    content: "";
    position: absolute;
    width: 0;
    height: 0;
    right: 0px;
    border-right: 87px solid transparent;
    border-top: 40px solid #2965f1;
}
/* Letra */
span.letra {
    background-color: white;
    width: 170px;
    height: 170px;
    position: absolute;
    left: 28px;
    right: 0;
    bottom: 0;
    z-index: 10;
    top: 25px;
    clip-path: polygon(5% 0%, 100% 0%, 91% 85%, 54% 100%, 15% 85%, 13% 65%,
                       30% 65%, 31% 75%, 54% 85%, 77% 75%, 79% 50%, 13% 50%,
                       11% 35%, 80% 35%, 81% 16%, 8% 16%);
}